#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=LastPass: Free Password Manager
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=hdokiejnpimakedhajhdlcegeplioahd
Icon=chrome-hdokiejnpimakedhajhdlcegeplioahd-Default
NoDisplay=true
StartupWMClass=crx_hdokiejnpimakedhajhdlcegeplioahd
OnlyShowIn=Old;
