#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Voice Search Hotword (Beta)
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=bepbmhgboaologfdajaanbcjmnhjmhfn
Icon=chrome-bepbmhgboaologfdajaanbcjmnhjmhfn-Default
NoDisplay=true
StartupWMClass=crx_bepbmhgboaologfdajaanbcjmnhjmhfn
OnlyShowIn=Old;
